@import '../../assets/scss/variables';

.app-linear-regression {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    user-select: none;
    position: relative;
    .lr-drawer-container {
        height: 100%;
        width: 100%;
        background-color: #303030;
        color: #fafafa;
        display: flex;
        flex-direction: row;
        .language-container {
            position: absolute;
            top: 15px;
            right: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .icon {
                cursor: pointer;
                font-size: 30px;
                margin-left: 15px;
                &.selected {
                    color: #303030;
                    text-shadow: stroke(3, $primary-color);
                }
            }
        }
        .side-container {
            width: 350px;
            max-width: 350px;
            background-color: #303030;
            color: #fafafa;
            padding: 0 20px;
            overflow: visible;
            position: relative;
            .neon-effet {
                background: white;
                width: 1px;
                box-shadow: 0px 0px 10px 4px $primary-color;
            }
            .neon-center {
                background: #5ab4d0;
                width: 2px;
            }
            .neon-center,
            .neon-effet {
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
                z-index: 2;
                
            }
        }
    }
    .lr-chart-container {
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        padding: 50px;
        position: relative;
        overflow: hidden;
    }
}
