<div class="app-linear-regression">
    <div class="lr-drawer-container">
        <div class="side-container">
            <app-configuration (onConfigChange)="onConfigChange($event)"></app-configuration>
            <div class="neon-effet"></div>
            <div class="neon-center"></div>
        </div>
        <div class="language-container">
            <div class="icon" [ngClass]="{'selected': currentLanguage === languages.fr}" (click)="updateLanguage(languages.fr)">🇫🇷</div>
            <div class="icon" [ngClass]="{'selected': currentLanguage === languages.en}" (click)="updateLanguage(languages.en)">🇬🇧</div>
        </div>
        <div class="lr-chart-container">
            <app-chart [config]="config" [thetas]="thetas"></app-chart>
        </div>
    </div>
</div>