<div #configContainer class="app-configuration-container app-menu-container">
    <button mat-strocked-button class="scroll-button top" (click)="scrollMenu(-300)" *ngIf="canScrollTop"><i class="material-icons">arrow_upward</i></button>
    <button mat-strocked-button class="scroll-button bottom" (click)="scrollMenu(300)" *ngIf="canScrollBottom"><i class="material-icons">arrow_downward</i></button>
    <h2 class="title">{{ 'linearRegression.config.title' | translate }}</h2>
    <section class="import-file menu-section">
        <app-drag-and-drop
            accept=".csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            (onChange)="fileChange($event)"
            [disableDelete]="loading"
        ></app-drag-and-drop>
        <a class="file-example" href="assets/datas/data.csv" download><i class="material-icons">file_download</i>{{ 'linearRegression.config.dlFileExample' | translate }}</a>
        <ng-container *ngIf="dataHeader && dataList.length">
            <div class="separator"></div>
            <div class="ignore-message">{{ 'linearRegression.config.hasErrors' | translate }}</div>
            <table class="data-table">
                <tr [ngClass]="{'error': dataHeader.isValid() === false}">
                    <th><input matInput class="center" [disabled]="loading" (keyup)="valueUpdate()" (change)="valueUpdate()" [(ngModel)]="dataHeader.data1"></th>
                    <th><input matInput class="center" [disabled]="loading" (keyup)="valueUpdate()" (change)="valueUpdate()" [(ngModel)]="dataHeader.data2"></th>
                </tr>
                <tr *ngFor="let elem of dataList; let i = index" [ngClass]="{'error': elem.isValid() === false}">
                    <td><input matInput class="right" [disabled]="loading" (keyup)="valueUpdate()" (change)="valueUpdate()" [(ngModel)]="elem.data1"></td>
                    <td><input matInput class="right" [disabled]="loading" (keyup)="valueUpdate()" (change)="valueUpdate()" [(ngModel)]="elem.data2"></td>
                    <i class="material-icons delete-icon" *ngIf="deletingRow !== i" (click)="deleteRow(i)">clear</i>
                    <i class="material-icons delete-icon" *ngIf="deletingRow === i" (click)="confirmDeleteRow(i)">check</i>
                </tr>
            </table>
            <div class="add-row-container">
                <i class="material-icons add-row" (click)="addRow()"> add_circle_outline </i>
            </div>
        </ng-container>
    </section>
</div>