<div class="app-settings-container app-menu-container" *ngIf="settings" [ngClass]="{'light': currentTheme === themes.LIGHT}">
    <h2 class="title">{{ 'linearRegression.settings.title' | translate }}</h2>
    <div class="option-container">
        <div class="separator"></div>
        <div class="section-group p-5">
            <div class="icons-container">
                <div class="icon" [ngClass]="{'selected': currentLanguage === languages.fr}" (click)="updateLanguage(languages.fr)">🇫🇷</div>
                <div class="icon" [ngClass]="{'selected': currentLanguage === languages.en}" (click)="updateLanguage(languages.en)">🇬🇧</div>
            </div>
            <div class="vertical-separator"></div>
            <div class="icons-container">
                <div class="icon" [ngClass]="{'selected': currentTheme === themes.LIGHT}" (click)="updateTheme(themes.LIGHT)"><i class="material-icons">light_mode</i></div>
                <div class="icon" [ngClass]="{'selected': currentTheme === themes.DARK}" (click)="updateTheme(themes.DARK)"><i class="material-icons">mode_night</i></div>
            </div>
        </div>
    </div>

</div>